@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* 
main_text: #E0E0E0
secondary_text: #FFD700
primary_btn: #20B2AA
secondary_btn: #F0E68C
*/
:root{
    --main_text: #E0E0E0;
    --secondary_text: #FFD700;
    --primary_btn: #20B2AA;
    --secondary_btn: #F0E68C;
    --white: #Ffffff;
    --black: #000000;
    --background: #2E8B57;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* #dash_main h2{

} */
#dash_main{
    background-color: var(--background);
}

#dash_main .Landing{
    width: 100dvw;
    height: 100dvh;
    padding: 1em 0 0 2em;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
#dash_main .Landing h1{
    font-family: "Roboto", sans-serif;
    color: #E0E0E0;
    font-size: 7em;
} 
#dash_main .Landing h2{
    font-family: "Roboto", sans-serif;
    color: #E0E0E0;
    font-size: 6em;
    text-transform: capitalize;
}
#dash_main .Landing p{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: #E0E0E0;
    font-size: 2em;
}
#dash_main .Landing h4{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #FFD700;
    font-size: 2em;
    text-transform: capitalize;
}
#dash_main button{
    width: fit-content;
    align-self: center;
    font-size: 1.2em;
    padding: 1.1rem;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    color: var(--black);
    background-color: var(--secondary_btn);
    border: none;
    cursor: pointer;
}

/* Login css */
#login_main{
    background-color: var(--background);
    width: 100dvw;
    height: 100dvh;
    padding: .2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login_main .head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login_main h2{
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 3em;
    color: var(--main_text);
}
#login_main p{
    font-family: "Poppins", sans-serif;
    text-transform: none;
    font-weight: 300;
    color: var(--secondary_text);
    font-size: 1.1em;
    margin-top: -.5em;
    border-bottom: 1px dotted var(--main_text);
}
#login_main .login_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 88%;
    width: 70%;
}
#login_main .one{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 0rem;
}
#login_main label, #login_main a{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: var(--main_text);
}
#login_main input{
    border: none;
    background-color: var(--main_text);
    height: 1.5rem;
    border-radius: .3em;
    padding-left: .3rem;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--black);
    margin-top: -.1rem;
}
#login_main select{
    background-color: var(--main_text);
    height: 1.5rem;
    border-radius: .3em;
    outline: none;
    border: none;
    margin-top: -.1rem;

}
#login_main .terms{
    width: 70%;
    display: flex;
    align-items: center;
    gap: .5rem;
}

#login_main a.btn{
    border: none;
    background-color: var(--secondary_btn);
    padding: .4rem;
    border-radius: .1rem;
    color: var(--black);
    text-decoration: none;
    font-weight: 400;
    margin-top: -.2rem;
    text-transform: uppercase;

}

/* results css */
#results_main{
    padding: 1rem;
    background: var(--background);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    height: 100dvh;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    display: none;
}

#results_main h2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--main_text);
    text-align: center;
}
#results_main h3{
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    font-style: italic;
    color: var(--secondary_text);
}
#results_main ol, ul{
    list-style: none;
    color: var(--white);
    font-family: "poppins", sans-serif;


}
#results_main p{
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--white);
}
#results_main .seek_another_div{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#results_main a.seek_another{
    text-transform: uppercase;
    font-family: "poppins", sans-serif;
    outline: none;
    border: none;
    padding: .8rem;
    text-decoration: none;
    background-color: var(--secondary_btn);
    color: var(--black);
}